body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $black;
  border: 5px solid $yellow;

  .circle {
    width: 200px;
    height: 200px;
    position: fixed;
    background-color: $yellow;
    border-radius: 100%;

    &.top {
      top: -100px;
      right: -100px;
    }

    &.bottom {
      bottom: -100px;
      left: -100px;
    }
  }

  .carousel {
    margin-top: 5vh;
    height: calc(50vh + 25px);
    .swiper-wrapper .swiper-slide{
      width: 60vw;
      .card-box{
        height: 50vh;
        width: 60vw;
        margin-top: 20px;
        background-color: $yellow;
        img{
          border: 10px solid $black;
          position: absolute;
          top: -25px;
          left: -25px;
          display: block;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

/*
=====================================================
Medium devices (desktops, 768px and up)
Read more: https://getbootstrap.com/docs/5.0/layout/breakpoints/
=====================================================
*/
@include media-breakpoint-up(md) {
  body{

  }
}