body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $black;

  .circle {
    width: 200px;
    height: 200px;
    position: fixed;
    background-color: $yellow;
    border-radius: 100%;

    &.top {
      top: -100px;
      right: -100px;
    }

    &.bottom {
      bottom: -100px;
      left: -100px;
    }
  }

  .carousel {
    margin-top: 5vh;
    .swiper-wrapper .swiper-slide{
      width: 60vw;
      .card-box{
        height: 50vh;
        width: 60vw;
        margin-top: 20px;
        background-color: $yellow;
        position: relative;
        img{
          position: absolute;
          top: -20px;
          left: -20px;
          display: block;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
